<div class="hero-section">
    <div class="hero-content">
      <h1>Bienvenido a Cine Marck :D</h1>
      <p>Disfruta de la mejor experiencia cinematográfica</p>
      <a href="#" class="btn btn-primary">Ver cartelera</a>
    </div>
  </div>
  
  <div class="container">
    <h2>Próximos estrenos</h2>
    <div class="movie-grid">
      <div class="movie-card">
        <img src="https://imgs.search.brave.com/MyapppElvknTdoiOb9_Pt7HQeupDizXgnokGsh_mW40/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL2htZy1wcm9k/L2ltYWdlcy9iYWNr/LXRvLWJsYWNrLWFt/eS13aW5laG91c2Ut/MC02NjU4NmZjMDlm/NTYzLmpwZz9jcm9w/PTAuNDk0eHc6MC44/Nzh4aDswLjUwNnh3/LDAuMTIyeGgmcmVz/aXplPTM2MDoq" alt="back to black amy winehouse">
        <h3>Película 1</h3>
        <p>
            La película sigue la vida de Amy desde sus primeros días como artista en apuros hasta su ascenso a la fama con su álbum debut "Frank" y sus posteriores luchas contra la adicción y las relaciones personales. La película también explora su tumultuosa relación con su marido, Blake Fielder-Civil, y su lucha contra la fama, la adicción y la salud mental.</p>
      </div>
      <div class="movie-card">
        <img src="https://imgs.search.brave.com/NN8a9Rfxe8mxZqLz5AhcnvnpR5wwUpGSJbjsdsKL1pk/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tLmNp/bmVzYXJnZW50aW5v/cy5jb20uYXIvcG9z/dGVyLzg2MzMtZWwt/cGxhbmV0YS1kZS1s/b3Mtc2ltaW9zLW51/ZXZvLXJlaW5vLmpw/Zz8xNjk4OTQ2MjU0" alt="Película 2">
        <h3>El Planeta De Los Simios Un Nuevo Reino</h3>
        <p>Muchos años después del reinado de César, un nuevo y tiránico líder simio construye su imperio. Por su parte, un joven simio emprenderá un complicado viaje que lo llevará a cuestionar todo lo que le habían enseñado sobre el pasado. En su aventura, tendrá que tomar decisiones que definirán el futuro tanto para los simios como para los humanos.</p>
      </div>
      <div class="movie-card">
        <img src="https://imgs.search.brave.com/dc9AlMF6L3CMnVMnuMZ6QoBMjS6Q65j6f70DxeL0VD0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9oaXBz/LmhlYXJzdGFwcHMu/Y29tL2htZy1wcm9k/L2ltYWdlcy92ZW5n/YWRvcmVzLW1hcnZl/bC11Y20tNjY1NzQy/Y2E0OWRkZS5qcGc_/Y3JvcD0wLjU2M3h3/OjEuMDB4aDswLjIx/M3h3LDAmcmVzaXpl/PTM2MDoq" alt="Película 3">
        <h3>Los Vengadores</h3>
        <p>La película comienza con Loki, el hermano de Thor, que roba el Teseracto, un artefacto que puede controlar el tiempo y el espacio. Loki planea usar el Teseracto para conquistar la Tierra y esclavizar la mente de los seres humanos. Nick Fury reactiva la Iniciativa Vengadores, un equipo de superhéroes que incluye a Iron Man (Tony Stark), Capitán América (Steve Rogers), Thor, Hulk (Bruce Banner), Viuda Negra (Natasha Romanoff) y Hawkeye (Clint Barton).</p>
      </div>
    </div>
  </div>